<div class="containner" >
    <div>
        <h1>Sugestão de Pautas</h1>
        <form [formGroup]="suggestAgendaForm" (submit)="sendSuggestAgenda()" class="flex flex-col gap-y-3">
            <input type="text" class="input first" name="tema" formControlName="tema" placeholder="Tema" >
            <textarea class="input descricao" name="descicao" formControlName="descricao" placeholder="Descrição" required></textarea>
            <input type="text" class="input first" name="quando" formControlName="quando" placeholder="Quando (data e hora)" >
            <input type="text" class="input first" name="local" formControlName="local" placeholder="Local" >
            <input type="text" class="input first" name="responsavel" formControlName="responsavel" placeholder="Responsável" required>
            <input type="text" class="input first" name="telefone-responsavel" formControlName="telefoneResponsavel" placeholder="Telefone do Responsável" required>
            <input type="text" class="input first" name="email-contato" formControlName="emailContato" placeholder="E-mail para contato" >
            <div>
                <button type="submit"><span>Enviar</span></button>
            </div>
        </form>
    </div>
</div>
