<div class="containner" >
    <div>
        <h1>Sugestão de Pautas</h1>
        <form>
            <input type="text" class="first" placeholder="Tema"><br><br>
            <textarea class="descricao" placeholder="Descrição"></textarea><br><br>
            <input type="text" class="first" placeholder="Quando (data e hora)"><br><br>
            <input type="text" class="first" placeholder="Local" ><br><br>
            <input type="text" class="first" placeholder="Responsável"><br><br>
            <input type="text" class="first" placeholder="Telefone do Responsável"><br><br>
            <input type="text" class="first" placeholder="E-mail para contato"><br><br>
            <button href=""><span>Enviar</span></button>
        </form>
    </div>
</div>
