.padded-cell {
    padding-left: 40px; 
  }
.padded-cell-day {
    padding-left: 20px; 
  }
.center-table {
  font-size: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

tr:not(:last-child) {
  border-bottom-width: 0.01em;
}