.padded-cell {
    padding-left: 40px; 
  }
.padded-cell-day {
    padding-left: 10px; 
  }
.padded-right {
    padding-right: 20px; 
  }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

td {
  padding: 5px;
}


tr:not(:last-child) {
  border-bottom-width: 0.01em;
}

td::first-letter {
  text-transform: capitalize;
}
td {
  text-transform: lowercase;

}

p {
  font-size: 15px;

}