.font-unb {
    font-size: 13px;
    font-family: "unb-pro", sans-serif;    
}


.containner h1 {
    color: #0087C8;
    font-size: 13px;
    font-family: "unb-pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 12.35px;  
    text-align: start;
    margin-bottom: 50px;
}

.containner {
    
    width: 360px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0; 
    margin-bottom: 0; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.input:focus {
    outline: none !important;
    border: 0.25px solid #0087C8;
}
