
<div class="flex justify-center items-center h-4/5">
  <form [formGroup]="userForm" (submit)="changePassword()" class="text-center">
    <div class="mb-4">
      <input pInputText class="w-64 h-8 border rounded-lg border-gray-300 pl-4 md:w-96 md:h-10" type="email" formControlName="email" name="email" placeholder="E-mail" required>
    </div>
    <div class="mb-4">
      <input pInputText class="w-64 h-8 border rounded-lg border-gray-300 pl-4 md:w-96 md:h-10" type="text" formControlName="code" name="code" placeholder="Código" required>
    </div>
    <div class="mb-4">
      <input pInputText class="w-64 h-8 border rounded-lg border-gray-300 pl-4 md:w-96 md:h-10" type="password" formControlName="password" name="password" placeholder="Senha" required>
    </div>
    <div class="mb-4">
      <input pInputText class="w-64 h-8 border rounded-lg border-gray-300 pl-4 md:w-96 md:h-10" type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirmar Senha" required>
    </div>
    <button class="p-2 bg-blue-brand rounded-lg justify-center mb-4 text-white" type="submit">Alterar senha</button>
  </form>
</div>
