<div>
  <div *ngIf="!userId">
    <p class="text-center">Faça login para comentar</p>
  </div>

  <div *ngIf="userId" class="flex flex-col gap-2 comment-style">
    <div *ngIf="showComments" class="flex flex-wrap flex-col gap-2">
      <div
        (click)="toggleComments()"
        class="text-blue-brand w-2 min-w-fit cursor-pointer"
      >
        Recolher comentarios
      </div>
      <div *ngFor="let comment of comments" class="flex flex-col gap-1">
        <hr />
        <div class="flex gap-2">
          <div class="w-2/12 flex align-middle justify-center">
            <img
              class="rounded-full w-10 h-10 min-w-max min-h-max"
              src="../../../assets/person.png"
              alt="avatar"
            />
          </div>
          <div class="w-10/12 min-w-min">
            <div class="font-custom font-bold text-sm">
              {{ comment.user_name }}:
            </div>
            <div class="font-custom font-normal text-sm whitespace-nowrap" >
              <p>{{ comment.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!showComments"
      (click)="toggleComments()"
      class="text-blue-brand w-2 min-w-fit cursor-pointer"
    >
      {{ comments.length }} Comentários
    </div>
    <hr />
    <form [formGroup]="commentForm" (submit)="addComment()" class="">
      <div class="flex flex-col">
        <textarea
          name="comment"
          placeholder="Adicione um comentário"
          type="text"
          formControlName="comment"
          required
          class="resize-none h-20 w-full"
        >
        </textarea>
        <button
          class="w-20 h-8 bg-blue-brand rounded-lg justify-center my-8 text-white md:h-10 md:w-32"
          type="submit"
        >
          Adicionar
        </button>
      </div>
    </form>
  </div>
</div>
