<div
  class="center flex justify-center content-start flex-wrap gap-2 w-full h-full max-w-3xl"
>
  <div
    *ngIf="unbTvVideos.length === 0"
    class="w-full h-full flex flex-col justify-center items-center gap-2 p-[10%] m-0"
  >
    <h6 class="text-grey-brand text-[13px]">
      Programação indisponível no momento
    </h6>
    <button
      id="returnToCatalog"
      class="w-full h-[30px] max-w-[103px] bg-transparent rounded-lg text-blue-brand text-[13px]"
      (click)="returnToCatalog()"
    >
      Voltar
    </button>
  </div>

  <div *ngFor="let video of unbTvVideos" class="flex">
    <div>
      <div
        *ngFor="let image of video.images"
        [routerLink]="['/video', video.id]"
        class="cursor-pointer"
      >
        <img
          src="{{ image.href }}"
          alt="{{ video.title }}"
          class="w-36 h-[85px] rounded-[7px]"
        />
      </div>
    </div>
  </div>
</div>
