
<div class="flex justify-center items-center h-4/5">
  <form [formGroup]="userForm" (submit)="activeAccount()" class="text-center">
    <div class="mb-4">
      <input pInputText class="w-64 h-8 border rounded-lg border-gray-300 pl-4 md:w-96 md:h-10" type="email" formControlName="email" name="email" placeholder="E-mail" required>
    </div>
    <div class="mb-4">
      <input pInputText class="w-64 h-8 border rounded-lg border-gray-300 pl-4 md:w-96 md:h-10" type="text" formControlName="code" name="code" placeholder="Código" required>
    </div>
    <button class="w-20 h-8 bg-blue-brand rounded-lg justify-center mb-4 text-white md:h-10 md:w-32" type="submit">Ativar</button>
    <div class="flex justify-start items-center text-blue-brand underline pl-4" (click)="resendCode()">
      Reenviar Código
    </div>
  </form>
</div>
