
<div class="flex justify-center items-center h-4/5">
  <form  class="text-center">
    <div class="mb-4 flex flex-col justify-start items-center bg-zinc-300 p-4 rounded-xl shadow-md">
      <div class="flex flex-row">
        <div class="font-bold">
          Nome:&nbsp;
        </div>
          {{ user.name }}
      </div>
      <div class="flex flex-row">
        <div class="font-bold">
          Vínculo:&nbsp;
        </div>
        <div *ngIf="user.connection === 'ALUNO'">
          Aluno
        </div>
        <div *ngIf="user.connection === 'PROFESSOR'">
          Professor
        </div>
        <div *ngIf="user.connection === 'COMUNIDADE-ACADEMICA'">
          Comunidade Acadêmica
        </div>
        <div *ngIf="user.connection === 'EXTERNO'">
          Externo
        </div>
      </div>
      <div class="flex flex-row">
        <div class="font-bold">
          Email:&nbsp;
        </div>
        {{ user.email }}
      </div>
    </div>
    <button class="p-2 bg-blue-brand rounded-lg justify-center my-8 text-white md:h-10 md:w-32" (click)="navigatorEdit()">Editar perfil</button>
  </form>
</div>
