<div class="w-full h-full flex justify-center items-center flex-col gap-11">
  <div
    class="max-w-[280px] max-h-[170px] grid grid-cols-1 align-middle p-4 m-0 gap-4 rounded-xl border border-gray-300 divide-y font-custom break-words text-center"
    *ngIf="user"
  >
    <div class="text-center font-bold text-sm text-blue-brand">Perfil</div>

    <div
      class="flex flex-col justify-center items-center gap-2 pt-3 text-[12px] text-[#3c3c3b]"
    >
      <span class="w-full font-bold" style="color: #3c3c3b;">
        {{ user.name }}
      </span>
      <span class="w-full font-normal" style="color: #3c3c3b;">
        {{ user.email }}
      </span>
    </div>

    <div
      class="w-full h-8 flex justify-center items-center font-normal text-[12px] text-[#3c3c3b]"
    >
      {{ connection }}
    </div>
  </div>

  <button
    id="editUser"
    class="w-full h-[30px] max-w-[103px] bg-blue-brand rounded-lg text-white"
    (click)="navigatorEdit()"
  >
    Editar
  </button>

  <div class="flex flex-initial flex-col gap-4 text-[11px] text-blue-brand">
    <button id="deleteUser" class="rounded-lg" (click)="deleteUser()">
      Deseja excluir o perfil?
    </button>

    <button id="changePassword">Alterar senha</button>

    <button id="logout" (click)="logoutUser()">Sair</button>
  </div>
</div>
