<div class="flex justify-center items-center flex-col">
  <div class="text-center">
    <div
      class="mb-4 flex flex-col justify-start items-center bg-zinc-300 p-4 rounded-xl shadow-md"
      *ngIf="user"
    >
      <div class="flex flex-row">
        <div class="font-bold">Nome:&nbsp;</div>
        {{ user.name }}
      </div>
      <div class="flex flex-row">
        <div class="font-bold">Vínculo:&nbsp;</div>
        {{ user.connection }}
      </div>
      <div class="flex flex-row">
        <div class="font-bold">Email:&nbsp;</div>
        {{ user.email }}
      </div>
    </div>
    <button id="editUser"
      class="p-2 bg-blue-brand rounded-lg justify-center my-8 text-white md:h-10 md:w-32"
      (click)="navigatorEdit()"
    >
      Editar perfil
    </button>
  </div>
  <div class="flex items-center justify-center">
    <button id="deleteUser"
      class="p-2 bg-blue-brand rounded-lg justify-center my-8 text-white md:h-10 md:w-32"
      (click)="deleteUser()"
    >
      Deletar usuário
    </button>
  </div>
  <div class="flex items-center justify-center">
    <button
    id="logout"
      class="p-2 bg-blue-brand rounded-lg justify-center my-8 text-white md:h-10 md:w-16"
      (click)="logoutUser()"
    >
      Sair
    </button>
  </div>
</div>
