.rectangle-45 {
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 170px;
    left: 40px;
    top: 178px;
    background: #FFFFFF;
    border: 0.15px solid #969696;
    border-radius: 9px;
}

.editUser {
    width: 103px;
    height: 30px;
    top: 408px;
    left: 129px;

}


.deleteUser {
    color: #0087C8;
    font-family: "unb-pro", sans-serif;
    font-size: 11px;
    width: 1205px;
    height: 13px;
    top: 500px;
    left: 20px;
    line-height: 100px;
}

.logout {
    color: #0087C8;
    font-family: "unb-pro", sans-serif;
    width: 1115px;
    height: 13px;
    top: 501px;
    left: 20px;
    font-size: 11px;
    line-height: 300px;
}

.changePassword {
    color: #0087C8;
    font-family: "unb-pro", sans-serif;
    width: 1160px;
    height: 13px;
    top: 567px;
    left: 20px;
    font-size: 11px;
    font-weight: 400;
    line-height: 200px;

}

