<div class="w-full flex h-screen flex-col">
    <div>
        <div class="pt-10 flex justify-center items-center">
            <img alt="simbolo-unb" src="../../../assets/Simbolo_UnBTV-01 1.png">
        </div>
        <div class="flex flex-row items-center justify-center w-full">
            <div class="text-programs">
              <div class="px-2">Início</div>|
              <div class="px-2">Agora na TV</div>|
              <div class="px-2">Programação</div>|
              <div class="pl-2">Transmissões</div>
            </div>
            <img alt="hamburguer" src="../../../assets/hamburguer.svg">
        </div>
    </div>
    <div class="flex-grow">
        <ng-content></ng-content>
    </div>
    <div class="flex flex-row items-center justify-center pb-10">
      <div class="pr-2">
        <img alt="form-unb" src="../../../assets/form-unb-tv.svg">
      </div>
      <div class="pr-2">
        <img alt="telefone" src="../../../assets/telefone.svg">
      </div>
      <div class="pr-2">
        <img alt="website" src="../../../assets/website.svg">
      </div>
      <div class="pr-2">
        <img alt="youtube" src="../../../assets/youtube.svg">
      </div>
      <div class="pr-2">
        <img alt="instagram" src="../../../assets/instagram.svg">
      </div>
      <div class="pr-2">
        <img alt="facebook" src="../../../assets/facebook.svg">
      </div>
      <div class="pr-2">
        <img alt="x" src="../../../assets/x.svg">
      </div>
    </div>
</div>
