<div class="w-full flex h-screen flex-col">
    <div>
        <div class="pt-10 flex justify-center items-center">
            <img src="../../../assets/Simbolo_UnBTV-01 1.png">
        </div>
        <div class="flex flex-row items-center justify-center w-full">
            <div class="text-programs">
                Início  |  Agora na TV  |  Programação  |  Transmissões
            </div>
            <img src="../../../assets/hamburguer.svg">
        </div>
    </div>
    <div class="flex-grow">
        <ng-content></ng-content>
    </div>
    <div class="flex flex-col items-center pb-10">
        <img src="../../../assets/site-unb-tv.svg">
    </div>
</div>
