
@font-face {
  font-family: 'Helvetic';
  src: url('../../../assets/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 360px;
  margin-right: auto; 
  margin-left: auto; 
  height: 100%;
}

.google-button {
  text-align: center;
  background-color: white;
  color: #969696;
  padding: 10px 20px;
  border-color: black;
  width: 260px;
  height: 30px;
  top: 210px;
  left: 50px;
  margin: 5px;
  border: 0.15px solid #3C3C3B; 
  border-radius: 9px;
  line-height: 10px;
  font-weight: 400;
  font-size: 13px;
  background-image: url('../../../assets/google.png');
  background-position: center;
  background-size: 7% auto;
  background-repeat: no-repeat;
  background-position: 220px 6px;
  margin-bottom: 10.5px;

}


.facebook-button {
  text-align: center;
  background-color: white;
  color:  black;
  padding: 10px 20px;
  border-color: black;
  width: 260px;
  height: 40px;
  top: 210px;
  left: 25px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #DADCE0;
  border-radius: 5px;
  line-height: 10px;
  background-image: url('../../../assets/facebook-icon-white-png.png');
  background-position: center;
  background-size: 8% auto;
  background-repeat: no-repeat;
  background-position: 12px 9px;
  margin-bottom: 10.5px;
  margin-top: 19.5px;
  background-color: #1877F2;
  
}



.facebook-button span{
  position: relative;
  margin-left: 30px;
  font-family: Helvetic ,sans-serif;
  font-size: 14px;
  color: white;
  
  
}

.email-button{
  text-align: center;
  background-color: white;
  color: #969696;
  padding: 10px 20px;
  border-color: black;
  width: 260px;
  height: 40px;
  top: 210px;
  left: 50px;
  margin: 5px;
  border: 1px solid #DADCE0;
  border-radius: 5px;
  line-height: 10px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 18.5px;
  background-image: url('../../../assets/email-svgrepo-com.svg');
  background-position: center;
  background-size: 8% auto;
  background-repeat: no-repeat;
  background-position: 12px 9px;

}

.email-button span{
  position: relative;
  margin-left: -5px;
  font-size: 14px;
}

.cadastro {
  font-size: 13px;
  color: #0087C8;
  margin-left: -72px;
  margin-top: 18.5px
}
