<div class="container">
        <div id="g_id_onload"
                data-client_id="254484469180-1imr4ds36p8rq4fe7udkja212tu0p7jl.apps.googleusercontent.com"
                data-callback="handleCredentialResponse">
        </div>
        <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="continue_with"
                data-size="large"
                data-logo_alignment="left"
                data-width=260>
        </div>

        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <button (click)="signInWithFB()" class="facebook-button"><span>Continuar com o Facebook</span></button>
        <button [routerLink]="['/login']" class="email-button"><span>Continuar com e-mail</span></button>
        <a href="/register" class="cadastro">Cadastra-se</a>
</div>


