

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    height: 100%;
    margin-top: -70px;
}

.google-button {
    text-align: center;
    background-color: white;
    color: #969696;
    padding: 10px 20px;
    border-color: black;
    width: 260px;
    height: 30px;
    top: 210px;
    left: 50px;
    margin: 5px;
    border: 0.15px solid #3C3C3B; 
    border-radius: 9px;
    line-height: 10px;
    font-weight: 400;
    font-size: 13px;
    background-image: url('../../../assets/google.png');
    background-position: center;
    background-size: 7% auto;
    background-repeat: no-repeat;
    background-position: 220px 6px;
    margin-bottom: 10.5px;

}


.google-button span{
    position: relative;
    margin-left: -70px;
}

.facebook-button {
    text-align: center;
    background-color: white;
    color:  #969696;
    padding: 10px 20px;
    border-color: black;
    width: 260px;
    height: 30px;
    top: 210px;
    left: 50px;
    cursor: pointer;
    margin: 5px;
    border: 0.15px solid #3C3C3B;
    border-radius: 9px;
    line-height: 10px;
    font-weight: 400;
    font-size: 13px;
    background-image: url('../../../assets/facebook.png');
    background-position: center;
    background-size: 8% auto;
    background-repeat: no-repeat;
    background-position: 220px 4px;
    margin-bottom: 10.5px;
    margin-top: 10.5px;
 
}

.facebook-button span{
    position: relative;
    margin-left: -55px;
}

.email-button{
    text-align: center;
    background-color: white;
    color: #969696;
    padding: 10px 20px;
    border-color: black;
    width: 260px;
    height: 30px;
    top: 210px;
    left: 50px;
    margin: 5px;
    border: 0.15px solid #3C3C3B; 
    border-radius: 9px;
    line-height: 10px;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10.5px;
    margin-bottom: 18.5px;

}

.email-button span{
    position: relative;
    margin-left: -85px;
}

.cadastro {
    font-size: 13px;
    color: #0087C8;
    margin-left: -140px;
    margin-top: 18.5px
}