<app-background>
  <div class="flex justify-center items-center h-4/5">
    <form (submit)="login()" class="text-center">
      <div class="mb-4">
        <input class="w-64 h-8 border rounded-lg border-gray-300 pl-4" type="text" id="username" name="username" placeholder="E-mail" required>
      </div>
      <div class="mb-4">
        <input class="w-64 h-8 border rounded-lg border-gray-300 pl-4" type="password" id="password" name="password" placeholder="Senha" required>
      </div>
      <div class="flex justify-start items-center text-gray-400 pl-4">
        Esqueceu a senha?
      </div>
      <button class="w-20 h-8 bg-blue-brand rounded-lg justify-center my-8" type="submit">Entrar</button>
      <div class="flex justify-start items-center text-blue-brand underline pl-4">
        Cadastre-se
      </div>
    </form>
  </div>
</app-background>
