<div class="justify-center flex flex-col">
  <div class="flex justify-end p-2">
    <img src="../../../assets/share.png" alt="Share" (click)="shareVideo()">
  </div>
  <div class="relative w-full max-h-96 overflow-hidden aspect-video">
    <iframe
      id="embeddedVideo"
      title="{{ video.title }}"
      allowfullscreen
      class="top-0 left-0 bottom-0 right-0 w-full h-full absolute"
    ></iframe>
  </div>
  <div class="flex justify-center flex-col gap-6 p-3 m-3">
    <div class="max-w-full justify-start max-h-full flex">
      <h4 class="font-custom font-bold">
        {{ video.title }}
      </h4>
    </div>
    <div class="max-w-full max-h-full flex text-[12px] font-custom">
      <div>
        <span
          *ngIf="!showDescription && videoDescription.length > characterLimit"
          class="clamped-description"
          [innerHTML]="videoDescription"
        ></span>
        <button
          *ngIf="!showDescription && videoDescription.length > characterLimit"
          class="font-bold"
          (click)="expandDescription()"
        >
          Mostrar
        </button>

        <span *ngIf="showDescription" [innerHTML]="videoDescription"></span>
        <div *ngIf="showDescription">
          <button class="font-bold" (click)="expandDescription()">
            Mostrar menos
          </button>
        </div>
      </div>
    </div>
    <div>
      <app-video-comment />
    </div>
  </div>
</div>
