<div class="max-w-full justify-center max-h-full flex">
  <div class="max-w-full max-h-full flex justify-center flex-col gap-8 p-5">
    <video
      class="w-full h-2/3 max-w-6xl"
      [src]="videoMP4.url | safe"
      title="trusted video url"
      allowfullscreen
      controls
    ></video>
    <div class="max-w-full justify-start max-h-full flex">
      <h4 class="font-custom font-bold" >
        {{ video.title }}
      </h4>
    </div>
    <div>
      <app-video-comment/>
    </div>
  </div>
</div>
