<div class="max-w-full justify-center max-h-full flex">
  <div class="max-w-full max-h-full flex justify-center flex-col gap-8 p-5">
    <video
      class="w-full h-2/3 max-w-6xl"
      [src]="videoMP4.url | safe"
      title="trusted video url"
      allowfullscreen
      controls
    ></video>
    <div class="max-w-full justify-start max-h-full flex">
      <h4 class="font-custom font-bold" >
        {{ videoTitle }}
      </h4>
    </div>
    <div class="max-w-full justify-start max-h-full flex text-[12px] font-custom">
      <div>
        <!-- Exibir descrição abreviada com botão 'Mostrar' -->
        <span *ngIf="!mostrarCompleta && videoDescription.length > limiteCaracteres">
          <span [innerHTML]="videoDescription | slice:0:limiteCaracteres"></span>...
          <button class="font-bold" (click)="expandirDescricao()">Mostrar</button>
        </span>
    
        <!-- Exibir descrição completa com botão 'Mostrar menos' -->
        <span *ngIf="mostrarCompleta">
          <span [innerHTML]="videoDescription"></span>
          <button class="font-bold" (click)="expandirDescricao()">Mostrar menos</button>
        </span>
    
        <!-- Exibir descrição completa se ela for menor ou igual ao limite -->
        <span *ngIf="videoDescription.length <= limiteCaracteres">
          <span [innerHTML]="videoDescription"></span>
        </span>
      </div>
    </div>
    
    </div>
</div>
