<div class="flex justify-center items-center h-4/5">
  <form [formGroup]="userForm" class="text-center">
    <div class="mb-4">
      <input
      pInputText
        class="w-64 h-8 border rounded-lg border-gray-300 pl-4 md:w-96 md:h-10"
        type="email"
        formControlName="email"
        name="email"
        placeholder="E-mail"
        required
      />
    </div>
    <div *ngIf="activeCode" class="mb-4">
      <input
      pInputText
        class="w-64 h-8 border rounded-lg border-gray-300 pl-4 md:w-96 md:h-10"
        type="text"
        formControlName="code"
        name="code"
        placeholder="Código"
        required
      />
    </div>
    <button
      id="sendEmail"
      *ngIf="!activeCode"
      class="p-2 bg-blue-brand rounded-lg justify-center mb-4 text-white"
      (click)="sendEmail()"
    >
      Enviar código
    </button>
    <button
      id="checkCode"
      *ngIf="activeCode"
      class="p-2 bg-blue-brand rounded-lg justify-center mb-4 text-white"
      (click)="checkCode()"
    >
      Trocar senha
    </button>
  </form>
</div>
