<div class="mx-5">
  <input 
    [(ngModel)]="filterInputValue" 
    (change)="filterUser()"
    placeholder="Filtrar pelo nome do usuário" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-100 p-2.5 outline-none" />
  <table class="table-auto mt-3" style="border-collapse: collapse !important;" > 
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Vínculo</th>
        <th>Cargo</th>
        <th>Ativo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.connection }}</td>
        <td>
          <select 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 outline-none"
            [(ngModel)]="user.role" 
            (change)="updateUserRole(user.id)" *ngIf="user.id !== userId; else readOnly">
            <option value="USER">Usuário</option>
            <option value="ADMIN">Administrador</option>
          </select>
          <ng-template #readOnly>
            Administrador
          </ng-template>
        </td>
        <td>{{ user.is_active ? "Sim" : "Não" }}</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator 
    [length]="total" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="[5, 10, 25]" 
    aria-label="User Pagination"
    (page)="onPaginateChange($event)"
  ></mat-paginator>
</div>